<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit Your listing</h3>
    <br />
    <form
      action="/listings/<%= listing._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label">Edit Title : </label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid Title</div>
        <br />
      </div>
      <div>
        <label for="description" class="form-label">Edit Description : </label>
        <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter a valid Description</div>
      </div>
      <br />
      <div>
        <label for="image" class="form-label">Upload a new Image : </label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>
      <br />
      <div>
        <label for="category" class="form-label">Category</label>
        <input
          type="text"
          name="listing[category]"
          placeholder="Choose Category"
          value="<%= listing.category %>"
          class="form-control"
          list="category-options"
          required
        />
        <datalist id="category-options">
          <option value="Pools"></option>
          <option value="Trecking"></option>
          <option value="Amazing-Views"></option>
          <option value="Beaches"></option>
          <option value="Rooms"></option>
          <option value="Castles"></option>
          <option value="Boats"></option>
          <option value="Arctic"></option>
          <option value="Iconic-Cities"></option>
          <option value="Mountains"></option>
          <option value="Camping"></option>
          <option value="Snowboarding"></option>
        </datalist>
        <div class="invalid-feedback">Please enter a valid category</div>
        <br />
      </div>
      <div>
        <label for="price" class="form-label">Edit Price : </label>
        <input
          type="text"
          name="listing[price]"
          value="<%= listing.price %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid Price</div>
        <br />
      </div>
      <div class="row">
        <div class="col-md-8">
          <label for="location" class="form-label">Edit Location : </label>
          <input
            type="text"
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid Location</div>
          <br />
        </div>
        <div class="col-md-4">
          <label for="country" class="form-label">Edit Country : </label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid Country</div>
          <br />
        </div>
      </div>
      <button class="btn btn-dark">Edit</button><br /><br />
    </form>
  </div>
</div>
